body {
    margin: 0;
    padding: 0;
    background: #000000;
    font-family: Arial, sans-serif;
    color: white;
}

.header {
    padding: 10px;
    text-align: center;
    background: #1d1d1d;
}

.main-content {
    display: flex;
    width: 100%;
    height: 100%;
}

#panel-info {
    flex: 1;
    background: #0a0a0a;
    border-left: 1px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#foto-jugador {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid red;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
}


.texto-info { text-align: center; }
.fecha { font-size: 0.9em; color: #999; margin-bottom: 8px; }
.nombre { font-size: 1.5em; font-weight: bold; margin-bottom: 5px; }
.clubes { color: #aaa; font-style: italic; margin-bottom: 15px; }
.precio { font-size: 1.8em; color: #ff4d4d; font-weight: 900; }
.precio-original { font-size: 1.2em; color: #3b82f6; margin-top: 10px; }
 .label-precio { font-size: 0.6em; color: #666; display: block; text-transform: uppercase; }
.contexto { font-size: 0.85em; color: #cccccc; margin-top: 20px; line-height: 1.4; border-top: 1px solid #333; padding-top: 15px; text-align: justify; }
